<div {{ attributes }}>
    {{ form_start(form, {
        'attr': {
            'data-action': 'live#action:prevent',
            'data-live-param': 'save'
        }
    }) }}
    <div class="modal-body">
        {{ form_row(form.name) }}
        {{ form_row(form.keyCode) }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        {{ form_widget(form.submit) }}
    </div>

    {{ form_end(form) }}
</div>